/debug/*
/release/*
CMakeFiles
/**/Debug
/**/Release
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
Makefile
.qmake.stash
*.user
ui*.h
CMakeCache.txt
*.log
/**/.vs
/**/x64
/**/Win32
*.cmake
/**/TabToolbar_autogen